<div class="container text-left">
  <div class="jumbotron">
    <h2>
      <strong>Title:</strong>
      <%= @article.title %>
    </h2>

    <h3>
      <strong>Text:</strong>
      <%= @article.text %>
    </h3>
  </div>
  <div style="background-color: lightblue;"class="jumbotron">
    <h2>Comments</h2>
    <%= render @article.comments %>
  </div>
  <div class="jumbotron">
    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>

    <%= link_to 'Edit', edit_article_path(@article), :class => "btn btn-primary"  %> |
    <%= link_to 'Back', articles_path, :class => "btn btn-primary"  %>
  </div>
</div>
